* {
    padding: 0;
    margin: 0;
}

.font-1 {
    font-size: 18px;
    font-weight: bold;
    color: #2f2f2f;
}

.font-2 {
    font-size: 13px;
    color: #333;
}

.font-3 {
    font-size: 13px;
    color: #999;
}

.font-4 {
    font-size: 11px;
    color: #999;
}

.header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border-bottom: solid 1px #f0f0f0;
    background-color: white;
}

.header-left {
    display: -webkit-flex;
    display: flex;
    width: 300px;
}

.header-middle {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.header-right {
    display: -webkit-flex;
    display: flex;
    width: 300px;
    align-items: center;
}

.search {
    height: 30px;
    width: 150px;
    border: solid 1px #d2d2d2;
    padding: 0 10px;
    outline: none;
}

.header-left .logo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #ea6f5a;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.nav a {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    margin-right: 20px;
}

.nav a:hover {
    color: #ea6f5a;
    background-color: #eeeeee;
}

.nav .select {
    color: #ea6f5a;
}

.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0 200px;
}

.content-left {
    display: -webkit-flex;
    display: flex;
    margin-right: 30px;
    flex: 0 0 66%;
}

.content-right {
    display: -webkit-flex;
    display: flex;
    flex: auto;
}

.article-list {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.article-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.article-item-title {
    margin-bottom: 10px;
}

.article-item-content {
    margin-bottom: 10px;
}

.article-item-bottom {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.article-item-bottom-tag {
    background-color: #ea6f5a;
    color: white;
    padding: 1px 5px;
    border-radius: 2px;
    margin-left: 5px;
}

.info-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.info-box-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.aboutme {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.aboutme img {
    width: 300px;
}

.aboutme p {
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.copyright {
    line-height: 50px;
    text-align: center;
}

