* {
    padding: 0;
    margin: 0;
}

.font-1 {
    font-size: 18px;
    font-weight: bold;
    color: #2f2f2f;
}

.font-2 {
    font-size: 13px;
    color: #333;
}

.font-3 {
    font-size: 13px;
    color: #999;
}

.font-4 {
    font-size: 11px;
    color: #999;
}

.header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border-bottom: solid 1px #f0f0f0;
    background-color: white;
}

.header-left {
    display: -webkit-flex;
    display: flex;
    width: 300px;
}

.header-middle {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.header-right {
    display: -webkit-flex;
    display: flex;
    width: 300px;
    align-items: center;
}

.search {
    height: 30px;
    width: 150px;
    border: solid 1px #d2d2d2;
    padding: 0 10px;
    outline: none;
}

.header-left .logo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #ea6f5a;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.nav a {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    margin-right: 20px;
}

.nav a:hover {
    color: #ea6f5a;
    background-color: #eeeeee;
}

.nav .select {
    color: #ea6f5a;
}

.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0 200px;
}

.content-left {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex: 0 0 66%;
}

.content-right {
    display: -webkit-flex;
    display: flex;
    flex: auto;
}

.content-single {
    display: -webkit-flex;
    display: flex;
    flex: 0 0 100%;
    margin-right: 0;
    justify-content: center;
}

.tag-search {
    display: -webkit-flex;
    display: flex;
    margin-top: 20px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 5px;
}

.tag-search-tips {
    font-size: 14px;
    color: #2f2f2f;
    margin: 5px;
}

.tag-search-group{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.tag-search-item {
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 11px;
    color: #999;
    border: solid 1px #999;
    cursor: pointer;
    margin: 5px 3px;
}

.tag-search-item.select {
    color: #ea6f5a;
    border: solid 1px #ea6f5a;
}

.article-list {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.article-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f0f0f0;
}

.article-item-title {
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}

.article-item-title:hover {
    text-decoration: underline;
}

.article-item-content {
    margin-bottom: 10px;
}

.article-item-bottom {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.article-item-bottom-tag {
    background-color: #ea6f5a;
    color: white;
    padding: 1px 5px;
    border-radius: 2px;
    margin-left: 5px;
    font-size: 11px;
}

.info-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.info-box-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: solid 1px #eeeeee;
    padding: 10px;
    border-radius: 5px;
}

.aboutme {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.aboutme img {
    width: 100%;
}

.aboutme p {
    margin-top: 10px;
}

.info-box-item-title {
    border-bottom: solid 1px #eeeeee;
    padding-bottom: 10px;
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-box-item-text {
    margin-bottom: 15px;
    background-color: #fafafa;
    border-left: 6px solid #e6e6e6;
    padding: 10px;
}

.info-box-item-text:hover {
    background-color: #FFF3EE;
}

.game-box-items {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-box-item {
    padding: 10px;
    width: 15%;
    border: solid 1px #eeeeee;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.game-box-item img {
    width: 100%;
}

.game-box-item p {
    font-size: 13px;
    color: #999;
    text-align: center;
}

.game-box-item:hover {
    background-color: #FFF3EE;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.copyright {
    line-height: 50px;
    text-align: right;
    margin-right: 20px;
}

/*detail*/
.article-detail {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 800px;
}

.article-detail-title {
    font-size: 40px;
    font-weight: bold;
    color: #2f2f2f;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.article-detail-info {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.article-detail-info-time {
    margin-right: 10px;
}

.article-detail-info-tags {
    display: -webkit-flex;
    display: flex;
}

.article-detail-content {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.article-detail-left {
    font-size: 16px;
    color: #404040;
    width: 100%;
}

.article-detail-nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
}

.article-detail-nav {
    margin-left: 30px;
    height: 450px;
    overflow: auto;
}

.article-detail-nav-h1 {
    padding-left: 20px;
}

.article-detail-nav-h2 {
    padding-left: 40px;
}

.article-detail-nav-h {
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 3px;
    border-left: 1px solid #f0f0f0;
}

.article-detail-nav-h:hover {
    color: #3180ff;
}

.article-detail-nav-select {
    color: #3180ff;
    border-left: 1px solid #3180ff;
}

