.article-detail-content code {
    background-color: #eeeeee;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border-left: .25em solid #dfe2e5;
    font-size: 14px;
}

.article-detail-content p {
    margin: 5px 0;
    line-height: 1.85;
    font-size: 14px;
}

.article-detail-content blockquote {
    opacity: .6;
    border-left: .25em solid #dfe2e5;
    padding: 0 1em;
    margin-left: 0;
}

.article-detail-content h1 {
    margin: 10px 0;
}

.article-detail-content li {
    margin: 5px 40px;
}

.article-detail-content img {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
    border: solid 1px #f0f0f0;
}

/*table*/
.article-detail-content table {
    border-collapse: collapse;
    border: 1px solid #cbcbcb;
}

.article-detail-content thead tr {
    background-color: #6C6C6C;
    color: #FFF;
    border: 1px solid #6C6C6C;
}

.article-detail-content thead th {
    padding: 5px 10px;
}

.article-detail-content td {
    border: 1px solid #CBCBCB;
    padding: 5px 10px;
    font-size: 14px;
}

