.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.year-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.year-line-btn {
    margin-left: 20px;
}

.year-prev {
    cursor: pointer;
}

.year-next {
    cursor: pointer;
}

.week-line {
    border-top: 1px solid sandybrown;
    border-left: 1px solid sandybrown;
}

.week-item {
    display: inline-block;
    width: 150px;
    height: 80px;
    line-height: 80px;
    border-right: 1px solid sandybrown;
    border-bottom: 1px solid sandybrown;
    text-align: center;
    background-color: #FAEBD7;
}

.date-wrap {
    border-left: 1px solid beige;
}

.date-item {
    display: inline-flex;
    flex-direction: column;
    width: 150px;
    height: 80px;
    border-right: 1px solid #FFE4C4;
    border-bottom: 1px solid #FFE4C4;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.date-item p {
    margin: 0;
    padding: 0;
}

.date-item .detail {
    font-size: 14px;
    margin-top: 5px;
}

.date-item-current {
    background-color: #8EE5EE;
}

.date-item-message {
    background-color: #FDE3E4;
}

.date-item-grey {
    color: #CDC5BF;
}

.tips {
    display: none;
    margin: 50px 0 0 20px;
    background-color: #F5F5F5;
    border: #ecedee solid 1px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

.tips .title {
    font-weight: bold;
}

.tipContent {
    display: flex;
    flex-direction: column;
}

.tips .tipContent p {
    margin: 5px 0;
}

.active {
    border: 1px solid #436EEE;
}
