* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid #6495ED;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.calender {
    margin: 10px 0 10px 10px;
}

.year-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.year-line-btn {
    margin-left: 20px;
    padding: 5px 10px;
}

.year-prev {
    cursor: pointer;
}

.year-next {
    cursor: pointer;
}

.week-line {
    /*border-top: 1px solid sandybrown;*/
    /*border-left: 1px solid sandybrown;*/
}

.week-item {
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    /*border-right: 1px solid sandybrown;*/
    /*border-bottom: 1px solid sandybrown;*/
    text-align: center;
    /*background-color: #FAEBD7;*/
}

.date-wrap {
    /*border-left: 1px solid beige;*/
}

.date-item {
    display: inline-flex;
    flex-direction: column;
    width: 100px;
    height: 60px;
    /*border-right: 1px solid #FFE4C4;*/
    /*border-bottom: 1px solid #FFE4C4;*/
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.date-item p {
    margin: 0;
    padding: 0;
}

.date-item .detail {
    font-size: 14px;
    margin-top: 5px;
}

.date-item-current {
    background-color: #8EE5EE;
    border-radius: 10px;
}

.date-item-message {
    background-color: #FDE3E4;
    border-radius: 10px;
}

.date-item-grey {
    color: #CDC5BF;
}

.msg-detail {
    display: flex;
    flex-direction: column;
    background-color: #6495ED;
    color: white;
    width: 200px;
    align-items: center;
}

.msg-detail .msg-detail-line {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.msg-detail .msg-detail-line .line {
    margin: 10px 0 0 0;
}

.msg-detail .msg-detail-line .top {
    margin: 20px 0;
}

.msg-detail .msg-detail-message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: #4E6EF2;
    margin-top: 30px;
}

.msg-detail .msg-detail-message p {
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed white;
    font-size: 14px;
}

.msg-detail .msg-detail-day {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
    border-radius: 15px;
}

.active {
    border: 2px solid #436EEE;
    border-radius: 10px;
}
